/* -----------------------------------------------------------
                         HOME
----------------------------------------------------------- */
.hero {
    background-image: url('/image/laptop.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232931af;
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #EEEEEE;
    padding-top: 200px;
  }
  
  .hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .hero-content .my-btn{
        background: #EEEEEE;
        color: #232931;
  }

  .typing-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 2rem;
  }
  
  .typing-text {
    color: #4ECCA3;
  }
  
  .typing-text::after {
    content: "|";
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .typing-container {
      font-size: 1.5rem;
    }
  }


  #skills {
    background-color: #393E46;
    padding: 50px 0;
    
  }
  .heading{
   border:6px solid #4ECCA3;
    padding: 20px;
    color: #EEEEEE;
    margin: 20px 20px 50px 20px;
  }
  
  .logo-img{
    height: 95px;
    margin: 40px 0px;
    transition: transform 0.3s ease;
 
  }
  
  .logo-img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px #4ECCA3);
  }
#about{
  padding: 50px 0;
}

  #about .about-contant{
    color: #393E46;
    margin-top: 50px;
  }
  #about .about-contant h2{
    color: #4ECCA3;
    font-size:40px;
    margin-bottom: 30px;
    text-decoration: underline 2px;
  }
  #about img{
    width: 300px;
    border-radius: 10px;
    margin: 20px;
  }